# Kopiera denna fil till en ny fil som heter .env och fyll i din väder-nyckel.
# OBS: MEAL_DB_URL inkluderar redan testnyckeln "1".

COUNTRY_API_URL=https://restcountries.com/v3.1
MEAL_DB_URL=https://www.themealdb.com/api/json/v1/1/
WEATHER_API_URL=https://api.openweathermap.org/data/2.5/weather

WEATHER_API_KEY=